@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>

            <!-- Le meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
        <meta name="author" content="The Play Authenticate Team">

            <!-- Le scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script> -->
            <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> -->
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap-multiselect.js")"></script>
        <script src="@routes.Assets.at("js/Notifier.js")"></script>
        <script src="@routes.Application.jsRoutes" defer="defer"></script>

            <!-- Le styles -->
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="@routes.Assets.at("css/bootstrap-multiselect.css")" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="header" class="navbar navbar-fixed-top"> <!-- Header Start -->

            <img class="logo" src="@routes.Assets.at("images/uds-logo.png")" alt="Universität des Saarlandes">
            <a class="title" href="@routes.Application.index()">Interne Positionsvermittlung</a>

            <div class="btn-group pull-right" style="padding-top: 20px;"> <!-- User Dropdown Start -->
                @subjectPresentOr() {
                    @defining(Application.getLocalUser(session())) { user =>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="icon-user"></i> @user.name <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @if(user.role == "Jobseeker") {
                                <li><a href="@routes.Account.profile()">Mein Profile</a></li>
                                <li><a href="@routes.Account.disableJobSeeker(user.name)">Konto deaktivieren</a></li>
                                <li><a href="@routes.Account.sendEnableJobSeekerRequest(user.name)">Kontoaktivierung beantragen</a></li>
                                <li><a href="@routes.Account.deleteJSAccount">Mein Konto löschen</a></li>
                                <li><a href="@routes.Account.changePassword()">Passwort Ändern</a></li>
                            }
                            @if(user.role == "Recruiter") {
                                <li><a href="@routes.Account.viewProfiles()">Besachäftigte ansehen</a></li>
                                <li><a href="@routes.Account.changePassword()">Passwort Ändern</a></li>
                            }
                            @if(user.role == "Admin") {
                                <li><a href="@routes.Account.viewProfiles()">Profile anzeigen</a></li>
                                <li><a href="@routes.Application.admin_ViewJobseekerUsers()">Benutzer ansehen</a><li>
                                <li><a href="@routes.Account.changePassword()">Passwort Ändern</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
                        </ul>
                    }
                } {
                    @if(!request.uri == "/" && !request.uri == "/login") {
                        <a href="@routes.Application.login()" class="btn btn-primary btn-mini @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
                    }
                }
            </div> <!-- User Dropdown Start -->
        </div> <!-- Header Close -->

        <div id="main"> <!-- Main Start -->
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-error">
                @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success">
                @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
            @content
        </div> <!-- Main Close -->

        <div id="footer"> <!-- Footer Start -->
            <p class="strong">&copy; 2017 Interne Positionvermittlung | Universität des Saarlandes. Version 1.0</p>
        </div> <!-- Footer Close -->

    </body>
</html>
