@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.change.password.title")) {

	<div class="wrapper">

		<legend>@Messages("playauthenticate.change.password.title")</legend>

		@form(routes.Account.doChangePassword) {

			@if(changeForm.hasGlobalErrors) {
				<p class="error"><span class="label label-important">@changeForm.globalError.message</span></p>
			}

			<div class="form-horizontal form-group">
				<div class="col-sm-4">
				@_passwordPartial(changeForm)
				</div>
			</div>

			<br><br><br><br><br>
			<div class="form-horizontal form-group">
				<div class="col-sm-4">
					<input type="submit" value="@Messages("playauthenticate.change.password.cta")" class="btn btn-success" style="margin-left: 230px;">
				</div>
			</div>

		}

	</div>

}