@(resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.reset.title")) {

	<div class="wrapper">

		<legend>@Messages("playauthenticate.password.reset.title")</legend>

		@form(routes.Signup.doResetPassword) {
			@if(resetForm.hasGlobalErrors) {
				<p class="error"><span class="label label-important">@resetForm.globalError.message</span></p>
			}

			@input(
				resetForm("token"),
				'_label -> "",
				'_showConstraints -> false

			) { (id, name, value, args) =>
				<input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
			}

			<div class="form-horizontal form-group">
				<div class="col-sm-4">
					@_passwordPartial(resetForm)
					<input type="submit" value="@Messages("playauthenticate.password.reset.cta")" class="btn btn-primary" style="margin: 10px 0 0 250px;">
				</div>
			</div>

			}

	</div>

}