@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) {

	<div class="wrapper">

		<legend>@Messages("playauthenticate.password.forgot.title")</legend>

		@form(routes.Signup.doForgotPassword) {
			@if(emailForm.hasGlobalErrors) {
				<p class="error"><span class="label label-important">@emailForm.globalError.message</span></p>
			}

			<div class="form-horizontal form-group">
				<div class="col-sm-4">
					@_emailPartial(emailForm)
					<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary" style="margin: 10px 0 0 230px;">
				</div>
			</div>

		}

	</div>
}